# build artifacts
plugin.sketchplugin/Contents/Sketch
plugin.sketchplugin/Contents/Resources/_webpack_resources
songbrary.sketchplugin/Contents/Sketch

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

# vscode
.vscode